# the basics
.ipynb_*
.DS_Store
__pycache__
.vscode
dep
.*.cache
build
*.json

# don't push all textures
textures/
!textures/TerrainFeatures.png
!textures/TerrainFeaturesScaled.png

# ignore specific executables
webots_moose/controllers/supervisor_draw_route/supervisor_draw_route
webots_moose/controllers/moose_path_following_mod/moose_path_following_mod
webots_moose/controllers/supervisor_draw_trail_mod/supervisor_draw_trail_mod